body, html {
    overflow: hidden;
}    
.background {
    background-image: url(../images/tree.jpg);
    background-size: cover;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: black;
}

@font-face {
    font-family: caslon;
    src: url(../fonts/ACaslonPro-Italic.otf);
}

@font-face {
    font-family: univers;
    src: url(../UniversLTStd.otf)
}

.main {
    width: 60%;
    height: 100%;
    align-items: center;
    background-color: white;
    box-shadow: -0px -0px 8px gray;
    margin-left: 20%;
    overflow-y: scroll;
}

.text {
    font-family: georgia;
    padding: 80px 40px 90px 40px; 
    height: 100%;
    margin-bottom: 90px;
}

.answer {
    background-color: #e6e7e8;
    color: black;
    float: left;
    width: 80%;
    padding: 0px 30px 0px 30px;
    display: block;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-family: caslon;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: #310102;

}

h5{
    font-family: caslon;
    font-size: 20px;
    text-align: right;
    line-height: 10%;
    font-weight: 400;
    color: #310102;

}

.options {
    line-height: 40px;
    float: right;
    width: 80%;
    background-color: #647b96;
    opacity: .5;
    padding: 20px 30px 20px 30px;
    display: block;
    margin-top: 20px;
}

button {
    color: white;
    font-size: 28px;
    font-family: helvetica;
    text-align: right;
    line-height: 40px;
    background-color: transparent;
    border: none;
    float: right;
    opacity: .5;

}

button:hover {
    opacity: 1;
    cursor: pointer;
}




